.header {
	height: 50px;
	display: flex;
	align-items: center;
	padding: 0 20px;
	background-color:var(--tg-theme-secondary-bg-color);
}

.header__userInfo {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5px;
}

.username {
	margin-left: auto;
}
