.header {
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 20px;
	background-color:var(--tg-theme-secondary-bg-color);
}

.header__userInfo {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5px;
}

.profile__avatar {
	background-color: darkgrey;
	border-radius: 100%;
	width: 24px;
	height: 24px;
}
